{% extends "base.html" %}
{% from 'macros.html' import book_form %}

{% block title %}Редактирование книги{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Редактирование: {{ book.title }}</h2>
        
        <form method="post" action="{{ url_for('books.edit_book', id=book.id) }}">

            {{ book_form(book=book, genres=genres) }}
            
            <button type="submit" class="btn btn-warning">Сохранить изменения</button>
            <a href="{{ url_for('main.index') }}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        new EasyMDE({ element: document.getElementById('short_description') });
    });
</script>
{% endblock %}