{% extends "base.html" %}

{% block title %}Написать рецензию{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <h2 class="mb-4">Рецензия на книгу: {{ book.title }}</h2>
        
        <form method="post" action="{{ url_for('reviews.add_review', id=book.id) }}">
            
            <div class="mb-3">
                <label for="rating" class="form-label">Оценка <span class="text-danger">*</span></label>
                <select class="form-select" id="rating" name="rating" required>
                    <option value="5" selected>отлично</option>
                    <option value="4">хорошо</option>
                    <option value="3">удовлетворительно</option>
                    <option value="2">неудовлетворительно</option>
                    <option value="1">плохо</option>
                    <option value="0">ужасно</option>
                </select>
            </div>
            
            <div class="mb-3">
                <label for="text" class="form-label">Текст рецензии <span class="text-danger">*</span></label>
                <textarea class="form-control" id="text" name="text"></textarea>
            </div>
            
            <button type="submit" class="btn btn-primary">Сохранить</button>
            <a href="{{ url_for('books.view_book', id=book.id) }}" class="btn btn-secondary">Отмена</a>
        </form>
    </div>
</div>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        new EasyMDE({ element: document.getElementById('text') });
    });
</script>
{% endblock %}